<div class="container-fluid custom-height footerInfo">
  <div class="row">
    <div class="col-6 col-md-4 mt-3 fs-3">
      <div class="d-flex justify-content-between">
        <div>
          <a
            href="https://www.facebook.com/profile.php?id=61555201196923&mibextid=ZbWKwL"
            target="_blank"
          >
            <i class="fa-brands fa-facebook text-primary"></i>
          </a>
        </div>
        <div>
          <a
            href="https://www.instagram.com/karthiii_18?igsh=MTR1MHR5aTRubnV2bw%3D%3D"
            target="_blank"
          >
            <i class="fa-brands fa-instagram instagram"></i>
          </a>
        </div>
        <div>
          <a href="https://x.com/Karthiii_18" target="_blank">
            <i class="fa-brands fa-x-twitter text-dark"></i>
          </a>
        </div>
        <div>
          <a href="mailto:karthicksuresh018@gmail.com" target="_blank">
            <i class="fa-solid fa-square-envelope text-success"></i>
          </a>
        </div>
        <div>
          <a href="https://www.linkedin.com/in/karthick18" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-5 col-md-3 mt-3">
      <div class="d-flex flex-column align-items-center">
        <div class="my-2">
          <a class="text-decoration-none fs-5" routerLink="/Home">Home</a>
        </div>
        <div class="my-2">
          <a class="text-decoration-none fs-5" routerLink="/About">About</a>
        </div>
        <div class="my-2">
          <a class="text-decoration-none fs-5" routerLink="/Contact">Contact</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5 mt-3 border-bg-dark ">
      <div class="d-flex flex-column">
        <div class="my-2 mx-2">
          <h4>
            <i class="fa-solid fa-location-dot text-primary fs-5"></i> Where to
            find Us
          </h4>
          <address class="fs-5 text-dark">
            NO:01,Tower Park avenue street,chennai -600001.
          </address>
        </div>
        <div class="my-2 mx-2">
          <h4>
            <i class="fa-solid fa-square-envelope text-success fs-5"></i>
            Contact Us E-mail
          </h4>
          <a
            href="mailto:karthicksuresh018@gmail.com"
            class="text-decoration-none text-dark fs-5"
            target="_blank"
            >karthicksuresh018&#64;gmail.com</a
          >
        </div>
        <div class="my-2 mx-2">
          <h4><i class="fa-solid fa-phone fs-5"></i> Contact Us Mobile</h4>
          <p class="fs-5 text-dark">+91 9566404596</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
