<div class="container">
  <div class="row p-2 mt-5 mb-5 ">
    <div class="col-12 col-md-6 mt-3">
      <img
        src="../../assets/images/karthiPhoto.jpeg"
        class="profilePic"
        alt="karthi's photo"
      />
    </div>
    <div class="col-12 col-md-6 mt-5 profileDetails mb-5">
      <p class="p-1">Hello Everyone, <span>I am karthick</span></p>
      <p class="p-1 mt-0">Frontend - Developer</p>
      <button class="btn py-1 px-3 rounded-5 nextpage" #aboutBtn>About me</button>
    </div>
  </div>
</div>

<div class="col-12 ms-col-5 ms-md-0">
  <div class="bg-warning text-light">
    <app-follow-on id="followon"></app-follow-on>
  </div>
</div>
